.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blueviolet;

}

.loginpanel {
    max-width: 40%;
}


.registercontainer {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.registercontainer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.fcomponent {
    margin-bottom: 10px;
}