<p-toast position="top-center"></p-toast>
<div class="logincontainer">
  <div class="loginpanel">
    <p-panel header="Bem vindo ao nosso blog">
      <div class="card-body">
        <div class="fcomponent">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText [(ngModel)]="username" placeholder="Seu login">
          </span>
        </div>

        <div class="fcomponent">
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="Sua senha"></p-password>
          </span>
        </div>

        <div class="fcomponent">
          <span class="p-input-icon-left">
            <button pButton type="button" label="Entrar" (click)="onLogin()" style="width: 100%;"></button>
          </span>
        </div>
      </div>
    </p-panel>

    <div class="registercontainer"><a href="register"> registrar-se </a></div>

  </div>

</div>