
.homecontainer {
    background-image: url('../../assets/images/wp02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: -1;
}

.menuspeedial {
    position: fixed;
    top: 20;
    right: 0;
    left: 20;
    z-index: 9999;
    padding: 10px;
    color: #fff;

}