<p>posts works!</p>
{{usuarioSelecionado?.nome}}


<p-button icon="pi pi-plus" (onClick)="abrirJanelaNovaPostagem()"></p-button>


<p-dialog header="Header" [(visible)]="mostrarJanelaNovaPostagem" [style]="{width: '90vw'}">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <input type="text" pInputText [(ngModel)]="titulo" [style]="{width: '90vh'}" />
        </div>
    </ng-template>

    <p-editor [(ngModel)]="texto" [style]="{height: '60vh', width: '100%'  }"></p-editor>

    <ng-template pTemplate="footer">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <p-button icon="pi pi-save" label="Salvar" (onClick)="salvarPostagem()"></p-button>
        </div>
    </ng-template>
</p-dialog>