{{usuarioSelecionado?.nome}}

<app-list-posts [posts]="postagens"></app-list-posts>

<p-button icon="pi pi-plus" (onClick)="abrirJanelaNovaPostagem()"></p-button>
<p-button icon="pi pi-star" (onClick)="abrirJanelaNovoAlbum()"></p-button>

<p-dialog header="Header" [(visible)]="mostrarJanelaNovaPostagem" [style]="{width: '90vw'}">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <input type="text" placeholder="Insira o título aqui" pInputText [(ngModel)]="titulo" [style]="{width: '90vh'}" />
        </div>
    </ng-template>

    {{tipopostagem}} {{isText()}}

    <div *ngIf="isText()">Texto</div>
    <div *ngIf="isAlbum()">Album</div>
    <app-postagem-texto [texto]="texto" *ngIf="isText()"></app-postagem-texto>
    <app-postagem-album [texto]="texto" *ngIf="isAlbum()"></app-postagem-album>

    <ng-template pTemplate="footer">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <p-button icon="pi pi-save" label="Salvar" (onClick)="salvarPostagem()"></p-button>
        </div>
    </ng-template>
</p-dialog>


