
.registercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;

}

.registerpanel {
  width: 80vh;
}


.form-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }



  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .element-left {
    text-align: left;
    font-weight: bolder;
    font-size: large;
    padding-left: 20px;
  }

  .element-middle {
    text-align: center;
    font-weight: bolder;
  }
  
  .element-right {
    text-align: right;
    font-weight: bolder;
    cursor: pointer;
    padding-right: 20px;
  }
  
  .element-right:hover {
    cursor: pointer;
    color: red;
  }
  