<p-toast position="top-center"></p-toast>

<div class="registercontainer">
    <div class="registerpanel">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <p-panel header="Registre seus dados de acesso">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="nome" name="nome" formControlName="nome">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" formControlName="email">
                    </div>

                    <div class="form-group">
                        <label for="message">Senha:</label>
                        <input type="password" id="senha" name="senha" formControlName="senha">
                    </div>


                    <div class="container">
                        <div class="element-left"><button pButton type="submit">Enviar</button></div>
                        <div class="element-right"><button pButton (click)="goBackLogin()">Voltar</button></div>
                    </div>



                </div>
            </p-panel>



        </form>
    </div>
</div>