
<p-dialog header="Comentários" [style]="{width: '90vw'}" [modal]="true" [(visible)]="visible" (onHide)="fecharDialog()" >

    <div *ngFor="let item of comentarios">
        <span style="font-weight: bolder;">{{item.autornome}} em {{formatar(item.datapostagem)}} </span>: 
        <div style="margin-left: 10px;">{{item.texto}} <span *ngIf="item.podeExcluir"><i class="pi pi-trash" (click)="confirmaExclusaoComentario(item)"></i></span> </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <input type="text" placeholder="Comente aqui (enter para enviar)" 
                pInputText [(ngModel)]="comentario" [style]="{width: '90vh'}" 
                (keydown)="kp($event)"
                />
        </div>
        
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>